@media screen and (max-width: 1300px){
    footer ul{
        margin: 9px 50px 9px 150px;
       
    }
footer hr{
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin: 9px 50px 9px 150px;
}


.endFooter{
    padding-bottom: 1300px;
    text-decoration: none;
    font-size: 12px;
    font-family: "Arial";
    color: #7a8697;
    padding-left: 150px;
}
}

@media screen and (max-width: 1200px){
    .container{
        padding-left: 150px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 900px){
    footer ul{
        padding: 9px 50px 9px 520px;
    }
    footer hr{
        margin: 9px 150px 9px 680px;
    }
.endFooter{
    padding-left: 670px;
}
.container{
    padding-left: 680px;
    padding-right: 130px;
    height: 1100px;
}

}





@media screen and (max-width : 455px){
    .container{
        flex-direction: column;
        height: 1800px;
    } 

    .left{
        width: 430px;
        margin-bottom: 5px;
        align-items: center;
    }
    .left h1{
        font-size: 70px;
    }
    .left p{
        width: 450px;
        font-size: 29px;
    }
    .right{
        width: 850px;
        padding-left: 50px;
    }
    .meta_img2{
        display: none;
    }
}

@media screen and (min-width: 455px) {
    .meta_img{
      display: none;
    }
  }