@media screen and (max-width: 1300px){
    footer ul{
        width: 1200px;
        margin: 9px 50px 9px 50px;
       
    }




footer hr{
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin: 9px 2px 9px 2px;
}


.endFooter{
    padding-bottom: 2000px;
    text-decoration: none;
    font-size: 12px;
    font-family: "Arial";
    color: #7a8697;
    padding-left: 50px;
}
}




@media screen and (max-width: 1200px){
    footer ul{
        padding: 9px 50px 9px 150px;
    margin-left: 150px;
    }
.endFooter{
    margin-left: 250px;
}


.container{
    margin-left: 200px;
}


}


@media screen and (max-width: 930px){
    footer ul{
        padding: 9px 50px 9px 330px;
    }


.endFooter{
    padding-left: 230px;
}


.container{
    padding-left: 270px;
}


}


@media screen and (max-width: 455px){
    .container{
        height: 1750px;
    }
footer ul{
    padding: 9px 50px 9px 500px;
}


.endFooter{
    padding-left: 250px;
}

.container{
    padding-left: 270px;
}

.topC{
    padding-bottom: 100px;
}


.meta{
    text-align: right;
}
.meta_img{
    padding-top: 300px;
    width: 16%;
}


@media screen and (max-width: 450px){
    footer ul{
        padding: 9px 50px 9px 300px;
        margin-left: 300px;
    }


.endFooter{
    margin-left: 350px;
}


.container{
    padding-left: 400px;
}


}